<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{product.name}}</title>
  <meta name="description"
        content="This example presents how to change static html files located on your local into pages available via StreamX">
  <link href="/static/css/output.css" rel="stylesheet">
  <script src="/static/js/page.js"></script>
</head>
<body class="m-0 flex flex-col min-h-screen">
<header>
  <nav class="bg-white">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex sm:h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-center flex-col sm:flex-row sm:justify-between flex-wrap sm:flex-nowrap">
          <div class="flex flex-shrink-0 items-center">
            <a href="/index.html" target="_self" class="px-3 py-2"><span class="text-indigo-600 font-semibold">StreamX sample project</span></a>
          </div>
          <div class="sm:ml-6 flex flex-wrap sm:flex-nowrap">
            <div class="flex space-x-4 flex-wrap sm:flex-nowrap">
              <a href="/index.html" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-100">Home</a>
              <a href="/products.html" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-100">Products</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="flex-1">

  <div class="bg-white pt-6">
    <!-- Image gallery -->
    <div class="mx-auto mt-6 max-w-2xl px-4 lg:grid lg:max-w-7xl lg:gap-x-8 lg:px-8">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
        <img src="{{product.imageUrl}}" alt="{{product.name}}"
             class="h-full w-full object-cover object-center">
      </div>
    </div>

    <!-- Product info -->
    <div
        class="mx-auto max-w-2xl px-4 pb-4 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{product.name}}</h1>
      </div>
      <div
          class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <div class="space-y-6">
          <p class="antialiased">
          </p>
          <p style="text-align: left;">
            {{product.description}}
          </p>
          <p></p>
        </div>
      </div>
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          <a href="/jsons/{{product.key}}.json">/jsons/{{product.key}}.json</a></h1></h1>
      </div>
      <code
          class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <div class="space-y-6">
          <pre style="text-align: left; overflow: overlay;" id="productJson">Will be fetched from a static file.</pre>
          <script>
            setTimeout(() => fetchJson('/jsons/{{product.key}}.json'), 1000)
          </script>
          <p></p>
        </div>
      </code>
    </div>
  </div>
</main>
<footer>
  <hr class="mt-6 mb-3 border-gray-200 mx-10">
  <div class="flex flex-col items-center sm:flex-row sm:justify-center mb-3">
    <p class="text-sm text-gray-500">© 2025 StreamX sample project</p>
  </div>
</footer>
</body>
</html>
